# Binaries
/bin/
*.exe
*.test
*.out
cover.out

# Local development
.env
.DS_Store
*.log
.idea/
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
docker-compose.override.yml

# binary files generated during development
tenant